<h1>{{ questpin.name }}</h1>
<ul>
    <li>{{questpin.rank}}</li>
    <li>{{questpin.role}}</li>
    <li>{{questpin.teamsize}}</li>
    <li>{{questpin.duration}}</li>
</ul>
<hr></hr>
<ul>
{% for deliverables in questpin.questdeliverables_set.all %}
    <li> Deliverable: {{ deliverables.deliverable }}</li>
    <li> Executive Summary: {{ deliverables.executive_summary }}</li>
    <li> Personas: {{ deliverables.personas }}</li>
    <li> UX Map: {{ deliverables.ux_map }}</li>
    <li> Information Architecture: {{ deliverables.information_architecture }}</li>
    <li> UX Research: {{ deliverables.ux_research }}</li>
{% endfor %}
</ul>