{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/nobullet.css' %}">
    <h1>Latest Quest Pins</h1>
    {% if quest_pin_list %}
        <ul>
        {% for quest in quest_pin_list %}
            <li><h2><a href="quests/quest/{{quest.id}}">{{quest.name}}</a></h2></li>
            <table style="width:100%">
                <tr>
                    <th>Rank</th>
                    <th>Roles</th>
                    <th>Party Size</th>
                    <th>Duration</th>
                </tr>
                <tr>
                    <td width="5%" >{{quest.rank}}</td>
                    <td width="75%">{{quest.roles}}</td>
                    <td width="10%">{{quest.team_size}}</td>
                    <td width="10%">{{quest.duration}}</td>
                </tr>
                </table>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Quests </p>
    {% endif %}
{% endblock %}