<!DOCTYPE html>
<html>
<h1>Quest Plugger</h1>


<head>
	<title>Quest Plugger</title>
	<link rel="stylesheet" href="styles/naviStyle.css">
	<link rel="stylesheet" href="styles/styles.css">
	<link rel="stylesheet" href="styles/footerStyle.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <div class="topnav" id="myTopnav">
      <a href=""><i class="fa fa-home"></i>Home</a>
      <a href="contact/"><i class="fa fa-id-card"></i>About Me</a>
      <a href="questplugger"><i class="fa fa-laptop"></i>Projects</a>
      <a href="polls/" class="active"><i class="fa fa-cog fa-spin"></i>Hobbies</a>
      <a href="admin/"><i class="fa fa-file-text-o"></i>Resume</a>
      <a href="javascript:void(0);" class="icon" onclick="changeNavi()">&#9776;</a>
    </div>
  </header>


</body>
</html>